*.vs
*.vscode
*.user
*.idea
*.history
*Binaries
*Intermediate
*Saved
Managed/Assemblies/*.pdb
Managed/Assemblies/*.dll
Managed/Assemblies/*.deps.json
Managed/**/bin
Managed/**/obj
Managed/Generated_bak
Managed/SharpScript/Generated
Source/SharpScriptBindingGenerator/bin
Source/SharpScriptBindingGenerator/obj
Source/SharpScriptBindingGenerator/*.csproj.props